@media screen and (max-width:992px) {
    nav li.nav-item:hover .nav-link::before{
        width: 0;
    }
    .navbar li.nav-item.active a::before{
        visibility:hidden;
    }
    nav li.nav-item:hover .nav-link{
        color: var(--color-primary) !important;
    }
    nav ul li ul{
        top: 35%;
        left: 13%;
        transform: translateY(0);
        z-index: 10;
    }
    nav ul li:hover>ul{
        left: 17%;
    }
    a.nav-link i{
        transform: rotate(270deg);
        margin-left: 5px;
        
    }
}

@media screen and (max-width:768px) {
    nav ul li:hover>ul{
        left: 25%;
    }
    .home-header h1{
        font-size: 3rem;
    }
    .home-typing p span{
        font-size: 1.5rem;
    }
}